*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#eef1f7;
  color:#273044;
}


/* LOGIN */

.loginPage{
  min-height:100vh;
  display:grid;
  place-items:center;
  padding:25px;
  background:
    linear-gradient(
      135deg,
      #142449,
      #2d426e
    );
}

.loginCard{
  width:min(100%,600px);
  background:#f8f8f8;
  border-radius:38px;
  padding:60px 48px 50px;
  text-align:center;

  box-shadow:
    0 20px 60px #0005;
}

.logo{
  font-size:85px;
  margin-bottom:15px;
}

.loginCard h1{
  margin:0;
  color:#263b64;
  font-size:52px;
  letter-spacing:2px;
  font-weight:500;
}

.subtitle{
  color:#778090;
  font-size:19px;
  letter-spacing:6px;
  margin:22px 0 42px;
}

.loginCard input{
  width:100%;
  padding:22px;
  font-size:20px;
  margin-bottom:20px;

  border:2px solid #d1d5dc;
  border-radius:17px;

  background:#f9f9f9;
}

.loginBtn{
  width:100%;
  border:0;

  padding:22px;

  border-radius:18px;

  background:#344970;
  color:white;

  font-size:22px;
  letter-spacing:2px;

  cursor:pointer;
}

.demo{
  font-size:18px;
  color:#555e6c;
  margin:12px 0 0;
}


/* GENERAL
